h1{ font-size: 50px;
    font-family: Didot;
    text-align: center;
    color: rgb(169, 210, 116);
   background-image: url(no2.jpg);
    
}
body{
    background-image:linear-gradient(#717572ca,#edf7f0df),url(https://2.bp.blogspot.com/-YZm6RWrpYtI/XFYDSVh1fDI/AAAAAAAAB7A/ZLXWq4EPS1A0z1Vztm0yuemDyo7CuFoKACKgBGAs/w3840-h2400-c/russain-blue-cat-24-4K.jpg);
    background-size: cover;
}
/* <li>Spoiled food</li>
<li>Loud noises</li>
<li>Tummy rubs</li> */